body {
    background:#999;
    background-image:url(images/parsley.jpg);
    background-size: 200%;
    background-blend-mode: soft-light;
    background-position-y: 1vw;
    background-position-x: 0vw;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serifl;
    overflow: auto;

}
.heading{
    width:900px;
    height:250px;
    margin: auto;
    position:absolute;
    top: 0px; bottom: 0px; right: 0px; left: 0px;
}
.title1{
    display: block;
    text-align: center;
    color: white;
    font-size: 60pt;
    font-family: big john;
}
#banner{
    background-image:url(images/Banner.gif);
    background-position-x: center;
    background-position-y: 40%;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: auto;
}
ul,ol{
    display: block;
    text-align: left;
    background-color: antiquewhite;
    margin-left: 10%;
    margin-right: 10%;
}
h2,p 
{
    padding: 0px 25px;
    color:rgb(68, 17, 17);
    border: #333;
    margin: auto;
    text-align: center;
    border-style: groove;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serifl;
}
h1{
    padding: 0px 25px;
    color:rgb(68, 17, 17);
    border: #333;
    margin: auto;
    text-align: center;
    font-size: 60pt;
    font-family:monospace;
    border-style: groove;

}
a {
    color: green;
}
p{
    background: rgb(61, 61, 61);
    color: white;
    padding: 20px;
}

#normal,ol,ul{
    display: block;
    text-align: left;
    background-color: antiquewhite;
    background: antiquewhite;
    margin: auto;
    color:black;
    border: #333;
    border-style: groove;
}
li{
    display: block;
    text-align: left;
    background-color: antiquewhite;
    margin: auto;
    color:black;
}
#des{
    color: black;
    background-color: antiquewhite;
    margin-left: 0;
    width: 30%;
    overflow: auto;
}
.secondary {
    background: black;
    color: rgb(255, 73, 73); 
}
#special {
    background: green;
    color: white;
    margin: auto;
}
#link{
    color: white;
}
body{
    margin-left: 6%;
    margin-right: 6%;
}

header {
    background: rgb(39, 39, 39);
    color: white;
    margin: auto;
    padding: auto;
}
nav li{
    display: inline-block;
    padding: 5px 15px;
    background: rgb(20, 20, 20);
    color: rgb(66, 151, 66);
    margin: auto;
}
footer{
    text-align: center;
    margin: auto;
    font-size: 12pt;
}
.aligned{
    display: flex;
    align-items: center;
    background: antiquewhite;
    border: #333;
    border-style: groove;
}
#dev{
    background-image:url(images/developer.png); 
}
#art{
    background-image:url(images/ship_crop.jpg);  
    background-position: center;
}
.col{
    background: #333;
    background-image:url(images/mango_crop.jpg);
    background-position: auto;
    background-blend-mode: soft-light;
    background-size: 100%;
    background-origin: unset;
    margin: 1%;
    float: left;
    width: 31%;
    font-size: 5vw;
    text-align: center;
    font-family:fantasy;
    border-radius: 5px;
    font-family: Century Gothic;
    color: white;
}
html{
    overflow: auto;
}
.box{
    overflow: hidden;
    display: block;
    background: antiquewhite;
}
footer{
    clear: both;
}