body {
    background:#999;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serifl
}
h1,h2,p 
{
    padding: 0px 25px;
    color:rgb(68, 17, 17)

}
a {
    color: green;
}
p{
    background: #666;
    color: white;
    padding: 10px;
}

.secondary {
    background: black;
    color: rgb(255, 73, 73); 
}
#special {
    background: green;
    color: white;
}

body{
    margin:0;
}
header {
    background: rgb(39, 39, 39);
    color: white;
    margin:0;
    padding: 5px 10px 0px 15px;
}
nav li{
    display: inline-block;
    padding: auto;
    background: rgb(20, 20, 20);
    color: rgb(66, 151, 66);
    margin: auto;

}
.row{

}

.col{
    background: #333;
    margin: 1%;
    float: left;
    width: 31%;
    border-radius: 3px;
    color: white;
}
footer{
    clear: both;
}